{% extends 'indexadmin.html' %}
{% block titulo %}
<title>Agregar vehiculo</title>
    <script type="text/javascript">
    function validar_placa() {
        valor_placa=document.getElementById("placa").value;
        var exprr=/^[A-Z]{3}\d{4}$/;
        if (valor_placa== null || valor_placa.length != 7 || valor_placa=="       " || !exprr.test(valor_placa)) {
            // Si no se cumple la condicion...
            alert('La placa debe contener 7 digitos.');
            document.getElementById("placa").value='';
            return false;
          }
        return true;
    }
    function validar_codigo() {
        valor_codigo=document.getElementById("codigo").value;
        if (isNaN(valor_codigo) || valor_codigo.length!=3 || /^\s+$/.test(valor_codigo) || valor_codigo=="   ") {
            // Si no se cumple la condicion...
            alert('Codigo debe ser un numero de 3 digitos entre 000 y 999.');
            document.getElementById("codigo").value='';
            return false;
        }
        return true;
    }
    function validar_numero() {
        valor_numero=document.getElementById("numero").value;
        if (isNaN(valor_numero) || valor_numero.length!=10 || /^\s+$/.test(valor_numero) || valor_numero=="          ") {
            // Si no se cumple la condicion...
            alert('El campo debe ser un numero de 10 dígitos.');
            document.getElementById("numero").value='';
            return false;
          }
        return true;
    }
    </script>
{% endblock %}
{% block pag %}
 <div class="row">
         <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Agregar Nuevo Vehículo</h1>
        </div>
        <!--end page header -->
 </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Caracteristicas
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form method="post" role="form" >
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <div class="col-lg-12">
                                                <div style="margin-left: 20%">
                                                    <input type="submit" value="Agregar">
                                                    <input type="reset"  value="Cancelar">
                                                </div>
                                            </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
{% endblock %}
