{% extends 'indexadmin.html' %}
{% block titulo %}
<title>Agregar conductor</title>
    <script type="text/javascript">
        function validar_cedula(){
          var cedula = document.getElementById("cedula").value;
          array = cedula.split( "" );
          num = array.length;
          if ( num == 10 )
          {
            total = 0;
            digito = (array[9]*1);
            for( i=0; i < (num-1); i++ )
            {
              mult = 0;
              if ( ( i%2 ) != 0 ) {
                total = total + ( array[i] * 1 );
              }
              else
              {
                mult = array[i] * 2;
                if ( mult > 9 )
                  total = total + ( mult - 9 );
                else
                  total = total + mult;
              }
            }
            decena = total / 10;
            decena = Math.floor( decena );
            decena = ( decena + 1 ) * 10;
            final = ( decena - total );
            if ( ( final == 10 && digito == 0 ) || ( final == digito ) ) {
              return true;
            }
            else
            {
              alert( "La c\xe9dula NO es v\xe1lida!!!" );
                document.getElementById("cedula").value='';
              return false;
            }
          }
          else
          {
            alert("La c\xe9dula no puede tener menos de 10 d\xedgitos");
              document.getElementById("cedula").value='';
            return false;
          }
        }
    function validar_nombres() {
        valor_nombres=document.getElementById("nombres").value;
        var exp1=/^[a-z A-Z ñáéíóú]{2,20}\s[a-z A-Z ñáéíóú]{2,20}$/;
        if( !(exp1.test(valor_nombres)) || /^\s+$/.test(valor_nombres)) {
            alert("Nombres incorrectos");
            document.getElementById("nombres").value='';
            return false;
        }
        return true;
    }
    function validar_apellidos() {
        valor_apellidos=document.getElementById("apellidos").value;
        var exp1=/^[a-z A-Z ñáéíóú]{2,20}\s[a-z A-Z ñáéíóú]{2,20}$/;
        if( !(exp1.test(valor_apellidos)) || /^\s+$/.test(valor_apellidos)) {
            alert("Apellidos incorrectos");
            document.getElementById("apellidos").value='';
            return false;
        }
        return true;
    }
    function validar_edad() {
        valor_edad=document.getElementById("edad").value;
        if (isNaN(valor_edad) || valor_edad.length!=2 || /^\s+$/.test(valor_edad) || valor_edad=="  " || valor_edad<18 || valor_edad>65) {
            // Si no se cumple la condicion...
            alert('La edad debe entre 18 y 65 años');
            document.getElementById("edad").value='';
            return false;
        }
        return true;
    }
    function validar_telefono() {
        valor_telefono=document.getElementById("telefono").value;
        if (isNaN(valor_telefono) || (valor_telefono.length!=10 && valor_telefono.length!=7) || /^\s+$/.test(valor_telefono) || valor_telefono=="          ") {
            // Si no se cumple la condicion...
            alert('El campo debe ser un numero de 10 dígitos.');
            document.getElementById("telefono").value='';
            return false;
          }
        return true;
    }
    function validar_correo() {
        valor_correo=document.getElementById("correo").value;
        if( !(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(valor_correo)) ) {
            alert("Correo incorrecto");
            document.getElementById("correo").value='';
            return false;
        }
        return true;
    }
    function activar_opcion() {
            document.getElementById("vehi").style.display='block';
    }
    </script>
{% endblock %}
{% block pag %}
 <div class="row">
         <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Agregar Nuevo Conductor</h1>
        </div>
        <!--end page header -->
 </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Caracteristicas
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1 style="padding-bottom: 15px">Datos del Conductor</h1>

                                    <form method="post" role="form" >
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <div class="col-lg-12">
                                                <div style="margin-left: 20%">
                                                    <input type="submit" value="Agregar">
                                                    <input type="reset"  value="Cancelar">
                                                </div>
                                            </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
            </div>
{% endblock %}