<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link rel="stylesheet" href="/static/css/style.css">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/jquery-migrate-1.2.1.js"></script>
		<script src="/static/js/script.js"></script>
		<script src="/static/js/superfish.js"></script>
		<script src="/static/js/jquery.ui.totop.js"></script>
		<script src="/static/js/jquery.equalheights.js"></script>
		<script src="/static/js/jquery.mobilemenu.js"></script>
		<script src="/static/js/jquery.easing.1.3.js"></script>
		<script src="/static/js/touchTouch.jquery.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
				$('.gallery a.gal').touchTouch();
			});
		</script>
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
<header class="clearFix">
	<div class="wrap"> <a id="logo"><img src="/static/images/log.png"></a>
    <nav>
      <div id="nav"> <strong>Navigation</strong>
        <ul>
          <li class="active"> 
	  <a href="/transporte/inicio/">Inicio</a></li>
	  <li><a href="/transporte/rutas/">Rutas</a></li>
	  <li><a href="/transporte/ubicacion/">Ubicacion de Unidades</a></li>
        </ul>
      </div>
	<div class="clear"></div>
    </nav>
  </div>
</header>
<!--==============================Content=================================-->
<content>
<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
	<div class="wrap">

			<!-- Start css3menu.com BODY section -->
<div><input type="checkbox" id="css3menu-switcher" class="c3m-switch-input">
<ul id="css3menu1" class="topmenu">
	<li class="switch"><label onclick="" for="css3menu-switcher"></label></li>
	
	<li class="topfirst"><a href="/transporte/troncales/" style="width:280px;"><span><img src="/static/images/troncal.png" style="margin-left:50px; margin-right:30px;">   Troncales</span></a></li>
	<li class="toplast"><a href="#" style="width:280px;"><span><img src="/static/images/alimentador.png" style="margin-left:50px; margin-right:30px;">   Alimentadores</span></a>
		<ul>
		<li><a href="/transporte/norte/" style="width:95px;"><img src="/static/images/azul.png">Norte</a></li>
		<li><a href="/transporte/sur/" style="width:95px;"><img src="/static/images/azul.png">Sur</a></li>
		<li><a href="/transporte/centro/" style="width:95px;"><img src="/static/images/azul.png">Centro</a></li>
		<li><a href="/transporte/este/" style="width:95px;"><img src="/static/images/azul.png">Este</a></li>
		<li><a href="/transporte/noroeste/" style="width:95px;"><img src="/static/images/azul.png">Nor-Oeste</a></li>
		<li><a href="/transporte/suroeste/" style="width:95px;"><img src="/static/images/azul.png">Sur-Oeste</a></li>
		</ul>
	</li>
	<li class="toplast"><a href="/transporte/miRuta/" style="width:280px;"><span><img src="/static/images/ruta.png" style="margin-left:50px; margin-right:30px;">   Mi ruta</span></a></li></ul></div>
<!-- End css3menu.com BODY section -->

<div class="clear"></div>
	<div><a><img src="/static/images/facebook.png" style="margin-top:50px; margin-left:50px;"></a>
		<a><img src="/static/images/twitter.png" style="margin-top:50px; margin-left:50px;"></a>
		<a><img src="/static/images/instagram.png" style="margin-top:50px; margin-left:50px;"></a></div>
<div class="clear"></div>


<div style="margin-top:-220px; margin-left:300px; padding-left: 25px; border: 15px; border-color: #fff; background: #fff;">
			<center>Rutas Troncales</center>
			<h3>Troncal 1 (Guasmo - Río Daule)</h3>
					<img src="/static/images/T1.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Sector</a></div>
								Norte-Centro-Sur
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Terminal Río Daule - Av. Benjamín Rosales - Av. Pedro Menéndez Gilbert - Túneles - Av. Boyacá - Av. Olmedo - Chile - Av. Rosa Borja de Ycaza - Av. Domingo Comín - Av. Roberto Serrano - Adolfo H. Simmonds - Av. Dr. Raul Clemente Huerta - Terminal Guasmo
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Terminal Guasmo - Av. Dr. Raul Clemente Huerta - Adolfo H. Simmonds - Av. Roberto Serrano - Av. Domingo Comín - Eloy Alfaro - Pedro Carbo - Roca - Tomás Martínez - Malecón Simón Bolívar - Túneles - Av. Pedro Menéndez Gilber - Av. Benjamín Rosales - Terminal Río Daule
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Troncal 2 (25 de Julio - Río Daule)</h3>
					<img src="/static/images/T2.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Sector</a></div>
								Norte-Centro-Sur
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Terminal Río Daule - Av.Benjamín Rosales - Av.De las Américas - Av.Pedro Menéndez - Av. Machala - Alejo Lascano - Pedro Moncayo - Fco.De Marco - Av.Machala - Josefina Barba - Av.25 de Julio - Dr.Juan Montalvo - 3er. Pasaje 1 SO. - Terminal 25 de Julio
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Terminal 25 de Julio - Av.25 de Julio - Av.Quito - Letamendi - Pedro Moncayo - Alejo Lascano - Av.Quito - Av.Pedro Menéndez - Av.De las Américas - Av.Narcisa de Jesús - Terminal Río Daule
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Troncal 3 (Bastión Popular - Centro)</h3>
					<img src="/static/images/T3.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Sector</a></div>
								Nor-Oeste
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Terminal Bastión Popular - Marcel Laniado - Vía Daule - Av. Carlos Julio Arosemena - Av 9 de Octubre - Carchi - 1ero. De Mayo - Tulcán - Sucre - Av. Olmedo (Parada IESS) - Eloy Alfaro - Pedro Carbo (Parada Biblioteca)
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Pedro Carbo (Parada Biblioteca) - Sucre - Tulcán - 1ero. de Mayo - ss - Av- 9 de Octubre - Av. Carlos Julio Arosemena - Vía Daule - Marcel Laniado - Terminal Bastión Popular
							</li>
						</ul>
					<div class="clear"></div>
					</div>
	</div>
	<div class="clear"></div>	
	</div>
</content>
  </div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="copy">
						<div class="st1">
						<div class="brand">Metro<span class="color1">T</span>ime </div></div>
						&copy; 2016	| <a href="#">Privacy Policy</a> 
						Website designed by Maria Mora |
						 Sign as <a href="/transporte/login/" rel="nofollow">Administrador</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>