<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ruta SurOeste</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link rel="stylesheet" href="/static/css/style.css">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/jquery-migrate-1.2.1.js"></script>
		<script src="/static/js/script.js"></script>
		<script src="/static/js/superfish.js"></script>
		<script src="/static/js/jquery.ui.totop.js"></script>
		<script src="/static/js/jquery.equalheights.js"></script>
		<script src="/static/js/jquery.mobilemenu.js"></script>
		<script src="/static/js/jquery.easing.1.3.js"></script>
		<script src="/static/js/touchTouch.jquery.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
				$('.gallery a.gal').touchTouch();
			});
		</script>
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
<header class="clearFix">
	<div class="wrap"> <a id="logo"><img src="/static/images/log.png"></a>
    <nav>
      <div id="nav"> <strong>Navigation</strong>
        <ul>
          <li class="active"> 
	  <a href="/transporte/inicio/">Inicio</a></li>
	  <li><a href="/transporte/rutas/">Rutas</a></li>
	  <li><a href="/transporte/ubicacion/">Ubicacion de Unidades</a></li>
        </ul>
      </div>
	<div class="clear"></div>
    </nav>
  </div>
</header>
<!--==============================Content=================================-->
<content>
<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
	<div class="wrap">

			<!-- Start css3menu.com BODY section -->
<div><input type="checkbox" id="css3menu-switcher" class="c3m-switch-input">
<ul id="css3menu1" class="topmenu">
	<li class="switch"><label onclick="" for="css3menu-switcher"></label></li>
	
	<li class="topfirst"><a href="/transporte/troncales/" style="width:280px;"><span><img src="/static/images/troncal.png" style="margin-left:50px; margin-right:30px;">   Troncales</span></a></li>
	<li class="toplast"><a href="#" style="width:280px;"><span><img src="/static/images/alimentador.png" style="margin-left:50px; margin-right:30px;">   Alimentadores</span></a>
		<ul>
		<li><a href="/transporte/norte/" style="width:95px;"><img src="/static/images/azul.png">Norte</a></li>
		<li><a href="/transporte/sur/" style="width:95px;"><img src="/static/images/azul.png">Sur</a></li>
		<li><a href="/transporte/centro/" style="width:95px;"><img src="/static/images/azul.png">Centro</a></li>
		<li><a href="/transporte/este/" style="width:95px;"><img src="/static/images/azul.png">Este</a></li>
		<li><a href="/transporte/noroeste/" style="width:95px;"><img src="/static/images/azul.png">Nor-Oeste</a></li>
		<li><a href="/transporte/suroeste/" style="width:95px;"><img src="/static/images/azul.png">Sur-Oeste</a></li>
		</ul>
	</li>
	<li class="toplast"><a href="/transporte/miRuta/" style="width:280px;"><span><img src="/static/images/ruta.png" style="margin-left:50px; margin-right:30px;">   Mi ruta</span></a></li></ul></div>
<!-- End css3menu.com BODY section -->

<div class="clear"></div>
	<div><a><img src="/static/images/facebook.png" style="margin-top:50px; margin-left:50px;"></a>
		<a><img src="/static/images/twitter.png" style="margin-top:50px; margin-left:50px;"></a>
		<a><img src="/static/images/instagram.png" style="margin-top:50px; margin-left:50px;"></a></div>
<div class="clear"></div>


<div style="margin-top:-220px; margin-left:300px; padding-left: 25px; border: 15px; border-color: #fff; background: #fff;">
			<center><h3>Ruta Vía a la Costa</h3></center>
			<h3>Ruta Vía a la Costa</h3>
					<img src="/static/images/R-via-costa.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Parada Centro de arte - av. Martha Roldos - calle 17 NO - Av 41A NO - calle 16C NO - AV Martha Roldos - Av. del Bombero - Av. Rodriguez Bonin - Calle Portete.
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Calle Portete - Calle Assad Bucaram - Calle Gomez Rendón - Av. Msñr Mosquera - Av. Rodriguez Bonin - Av. del Bombero - Av Carlos julio Arosemena - Av Martha Roldos - Parada Centro de Arte.
							</li>
						</ul>
					<div class="clear"></div>
					</div>
	</div>
	<div class="clear"></div>	
	</div>
</content>
  </div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="copy">
						<div class="st1">
						<div class="brand">Metro<span class="color1">T</span>ime </div></div>
						&copy; 2016	| <a href="#">Privacy Policy</a> 
						Website designed by Maria Mora |
						 Sign as <a href="/transporte/login/" rel="nofollow">Administrador</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>