<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ruta Norte</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link rel="stylesheet" href="/static/css/style.css">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/jquery-migrate-1.2.1.js"></script>
		<script src="/static/js/script.js"></script>
		<script src="/static/js/superfish.js"></script>
		<script src="/static/js/jquery.ui.totop.js"></script>
		<script src="/static/js/jquery.equalheights.js"></script>
		<script src="/static/js/jquery.mobilemenu.js"></script>
		<script src="/static/js/jquery.easing.1.3.js"></script>
		<script src="/static/js/touchTouch.jquery.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
				$('.gallery a.gal').touchTouch();
			});
		</script>
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
<header class="clearFix">
	<div class="wrap"> <a id="logo"><img src="/static/images/log.png"></a>
    <nav>
      <div id="nav"> <strong>Navigation</strong>
        <ul>
          <li class="active"> 
	  <a href="/transporte/inicio/">Inicio</a></li>
	  <li><a href="/transporte/rutas/">Rutas</a></li>
	  <li><a href="/transporte/ubicacion/">Ubicacion de Unidades</a></li>
        </ul>
      </div>
	<div class="clear"></div>
    </nav>
  </div>
</header>
<!--==============================Content=================================-->
<content>
<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
	<div class="wrap">

			<!-- Start css3menu.com BODY section -->
<div><input type="checkbox" id="css3menu-switcher" class="c3m-switch-input">
<ul id="css3menu1" class="topmenu">
	<li class="switch"><label onclick="" for="css3menu-switcher"></label></li>
	
	<li class="topfirst"><a href="/transporte/troncales/" style="width:280px;"><span><img src="/static/images/troncal.png" style="margin-left:50px; margin-right:30px;">   Troncales</span></a></li>
	<li class="toplast"><a href="#" style="width:280px;"><span><img src="/static/images/alimentador.png" style="margin-left:50px; margin-right:30px;">   Alimentadores</span></a>
		<ul>
		<li><a href="/transporte/norte/" style="width:95px;"><img src="/static/images/azul.png">Norte</a></li>
		<li><a href="/transporte/sur/" style="width:95px;"><img src="/static/images/azul.png">Sur</a></li>
		<li><a href="/transporte/centro/" style="width:95px;"><img src="/static/images/azul.png">Centro</a></li>
		<li><a href="/transporte/este/" style="width:95px;"><img src="/static/images/azul.png">Este</a></li>
		<li><a href="/transporte/noroeste/" style="width:95px;"><img src="/static/images/azul.png">Nor-Oeste</a></li>
		<li><a href="/transporte/suroeste/" style="width:95px;"><img src="/static/images/azul.png">Sur-Oeste</a></li>
		</ul>
	</li>
	<li class="toplast"><a href="/transporte/miRuta/" style="width:280px;"><span><img src="/static/images/ruta.png" style="margin-left:50px; margin-right:30px;">   Mi ruta</span></a></li></ul></div>
<!-- End css3menu.com BODY section -->

<div class="clear"></div>
	<div><a><img src="/static/images/facebook.png" style="margin-top:50px; margin-left:50px;"></a>
		<a><img src="/static/images/twitter.png" style="margin-top:50px; margin-left:50px;"></a>
		<a><img src="/static/images/instagram.png" style="margin-top:50px; margin-left:50px;"></a></div>
<div class="clear"></div>


<div style="margin-top:-220px; margin-left:300px; padding-left: 25px; border: 15px; border-color: #fff; background: #fff;">
			<center><h3>Rutas Norte</h3></center>
			<h3>Ruta Alborada</h3>
					<img src="/static/images/R-alborada.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Terminal Río Daule, avenida Antonio Parra Velasco, avenida Agustín Freire, avenida Rodolfo Baquerizo Nazur, avenida Gabriel Roldós Garcés, calle 19A NE, avenida 1C NE, avenida Isidro Ayora.
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Avenida Isidro Ayora, avenida Gabriel Roldós Garcés, avenida Rodolfo Baquerizo Nazur, avenida Agustín Freire, avenida Antonio Parra Velasco y Terminal Río Daule.
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Ruta Guayacanes</h3>
					<img src="/static/images/R-guayacanes.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Terminal Río Daule, avenida Antonio Parra Velasco, avenida José María Egas, avenida Rodrigo Icaza, avenida Pdte. Luis Tamayo.
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Calle 14 pasaje 5 NE, calle 18 NE, avenida Narcisa de Jesús, avenida Benjamín Rosales, Terminal Río Daule.
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Ruta Samanes</h3>
					<img src="/static/images/R-samanes.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Terminal Río Daule – Av. Antonio Parra Velasco – calle 20B NE – Av. Isidro Ayora – Av. Dr. Francisco Rizzo – Av. 1B NE.
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Av. 1B NE – calle 20 C - Av. Isidro Ayora - calle 20B NE – Av. Antonio Parra Velasco – Terminal Río Daule.
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Ruta Garzota</h3>
					<img src="/static/images/R-garzota.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Parada Ciudadela Simón Bolívar - Av. de las Américas - Av. Joaquín Orrantia - Av. Juan Tanca M. Av. Guillermo Pareja
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Av. Guillermo Pareja - Av. Hermano Miguel - Av. de las Américas - Parada Ciudadela Simón Bolívar
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Ruta Juan Tanca Marengo</h3>
					<img src="/static/images/R-JTMarengo.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								PARADA CENTRO DE CONVENCIONES OESTE- A. de las Américas - Av. Juan T. Marengo -Av. Pedro Valverde - calle 18I NO.
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Calle 18I NO. Av. Benjamín Carrión - Av. Francisco de Orellana - Av. Ignacio Robles - Av. Juan T. Marengo - Av. De las Américas - PARADA CENTRO DE CONVENCIONES OESTE.
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Ruta Orellana</h3>
					<img src="/static/images/R-orellana.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Parada Aguirre Abad - Av. John F. Kennedy - Av. San Jorge - Av. Carlós L. Plaza Dañin.
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Av. Carlos L. Plaza Dañin. Av. de las Américas - Parada Aguirre Abad.
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Ruta Sauces</h3>
					<img src="/static/images/R-sauces.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Terminal Río Daule - Av. Antonio Parra Velasco - Av. Gabriel Roldos - 3° Pj. NE.
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								3° Pj. x NE - Av. Dr. Enrique Grau Ruiz - Av. Antonio parra Velasco - Terminal Río Daule.
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Ruta Florida-Rotonda</h3>
					<img src="/static/images/R-florida-rotonda.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Av. 44 NO. - Av. Eduardo Solá - Av. Camilo Ponce Enríquez - Parada Gallegos Lara - Av. J.T. Marengo - Av. Benjamín Carrión - Av. Rodolfo Baquerizo - Av. Fco. De Orellana.
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								Av. Fco de Orellana - Av. Benjamín Carrión - C.C. La Rotonda - Av. Benjamín Carrión - Av. J.T. Marengo - Av. Camilo Ponce Enríquez - Parada Gallegos Lara - Av. Eduardo Soá - Av. 44 NO.
							</li>
						</ul>
					<div class="clear"></div>
			<h3>Ruta Mapasingue Oeste</h3>
					<img src="/static/images/R-Mapasingue-O.png" alt="" class="img_inner fleft">
						<ul class="list li">
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Salida</a></div>
								Parada Mapasingue - Martha Bucaram de Roldós - Calle 17A NO. - 3er. Psj. 42 NO. - Calle 17 NO. - 3° Transversal 44 NO. - Diagonal 16 NO. - Calle 16 NO. - Av. Leopoldo Carrera C. - ESPOL.
							</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Retorno</a></div>
								ESPOL - Av. Leopoldo Carrera C. - Calle 16 NO. - Diagonal 16 No. - 3° Transversal 44 NO. - Calle 17 NO. - Av. 43 NO. - Calle 16C NO. - Martha Bucaram de Roldós - Parada Mapasingue.
							</li>
						</ul>
					<div class="clear"></div>
					</div>
	</div>
	<div class="clear"></div>	
	</div>
</content>
  </div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="copy">
						<div class="st1">
						<div class="brand">Metro<span class="color1">T</span>ime </div></div>
						&copy; 2016	| <a href="#">Privacy Policy</a> 
						Website designed by Maria Mora |
						 Sign as <a href="/transporte/login/" rel="nofollow">Administrador</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>